/* Variabel Start*/
:root {
  --Main: #85cdfd;
  --background: #bdcdd6;
}
/* Variabel End */

/* Body Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

/* Body End */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", "sans-serif";
  background-color: #e0e0e1;
  color: #fff;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--Main);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--Main);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--Main);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--Main);
}

#hamburger-menu {
  display: none;
}

/* Caption Section start*/
.caption {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/Warungg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.caption::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(237, 231, 225, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.caption .content {
  padding: 1.3rem 7%;
  max-width: 60rem;
  font-style: italic;
}

.caption .content h1 {
  font-size: 6em;
  color: #fff;
  text-shadow: 5px 5px 9px rgba(5, 5, 9, 0.9);
  line-height: 1.2;
}

.caption .content h1 span {
  color: var(--Main);
}

.caption .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
}

.caption .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--Main);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px rgba(1, 1, 1, 0.8);
}

/* Caption Section end */

/* About Section */
.about,
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--Main);
}

#about {
  margin-top: 20px;
  background-color: #247ab0;
  padding: 5rem 2rem;
  margin: 2rem;
  border-radius: 1rem;
}
main {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

#content {
  flex: 3;
  padding: 5px;
  margin: 10px;
}

article {
  margin-bottom: 20px;
  background-color: var(--Main);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: #5ea3d1;
  padding: 20px;
}

article p {
  text-align: justify;
}
aside {
  background-color: #5ea3d1;
  padding: 5px;
  margin: 10px;
  width: 500px;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: right;
}

.logo-profile {
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
}

#logosatu {
  transition: 1s;
}
#logosatu:hover {
  transform: rotateY(180deg);
}

#logodua {
  transition: 1s;
}

#logodua:hover {
  transform: rotateY(189deg);
}

#logotiga {
  transition: 2s;
}

#logotiga:hover {
  transform: rotateY(180deg);
}

#logoempat {
  transition: 2s;
}

#logoempat:hover {
  transform: rotateY(180deg);
}
figcaption {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

figure {
  text-align: center;
  padding: 15px;
}

figure p {
  padding: 15px;
  display: flex;
  text-align: justify;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 50%;
}

#menu {
  background-color: #247ab0;
  border-radius: 2rem;
  margin: 2rem;
}
.menu p,
.contact {
  font-size: 1.2rem;
}

/* Menu Section */
.memu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  color: #fff;
}

.about h2 span {
  color: var(--Main);
}

.menu .indukfood {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  color: #fff;
}

.menu .indukfood .menu-card {
  text-align: center;
  padding-bottom: 2rem;
}

.menu .indukfood .menu-card img {
  border-radius: 25%;
  width: 70%;
  height: 70%;
}
.menu .indukfood .menu-card .menu-card-title {
  margin-top: 1rem auto 0.5rem;
}

.buttonsatu {
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
}
/* Contact Start */
.contact {
  background-color: #247ab0;
  border-radius: 2rem;
  margin: 2rem;
}

.kontak {
  text-align: center;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #5ea3d1;
  border-radius: 5%;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
  cursor: pointer;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #fff;
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.7rem;
  background: none;
  color: #010101;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--Main);
  cursor: pointer;
  border-radius: 2%;
  float: right;
}

button:hover {
  background-color: var(--background);
}

/* Footer start */
footer {
  background-color: var(--Main);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #010101;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--background);
}

footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  color: #010101;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #010101;
}

footer .credit p {
  color: #010101;
}

footer .credit a:hover {
  color: var(--background);
  font-family: 700;
}
/* Footer end */

/* Laptop */
@media screen and (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: gray;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--Main);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* Handphone Start */
@media screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* Handphone End */
